.skills_container {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;

    gap: 16px;
    margin: 24px 0;
}

.skills_container img {
    width: 70px;
    height: 70px;
    object-fit: contain;

    border-radius: 50%;    
}

.skills_category_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_list_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.skill__figure_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill__figure_container figcaption {
    font-size: 1rem;
    font-family: "Overpass Mono", monospace;
    font-weight: 600;
    /* color: var(--primary-text); */

    padding: 8px;
    margin: 0;

    text-align: center;
}

@media screen and (min-width: 992px) {
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (orientation: landscape) {
   
}  