.about__container {
    display: flex;
    flex-direction: column;
}

.about__name {
    font-size: 5rem;
}

.about__description {
    font-family: 'Junge', serif;
    font-size: 1rem;
    color: var(--primary-text);
    margin: 0 32px;
    text-align: center;
}

.about__image {
    display: flex;
    justify-content: center;
}

.about__image img {
    max-width: 50%;
    height: auto;
}

@media screen and (orientation: landscape) {}


@media screen and (min-width: 992px) {
    .about__container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .about__image img {
        max-width: 80%;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .about__description {
        color: var(--light-primary-color);
    }
}