.about {
    display: grid;
    align-content: center;
    height: 100vh;
    margin-top: 2rem;
    padding: 0 2rem;
}

.projects,
.skills,
.testimonials {
    display: grid;
    padding: 1rem;
    height: auto;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.testimonials {
    margin-bottom: 4rem;
}

#skills::before, #projects::before, #testimonials::before {
    content: "";
    display: block;
    height: 120px;

    margin-top: -100px;    
    visibility: hidden;
}

@media only screen and (min-width: 992px) {

    .projects,
    .skills,
    .testimonials {
        padding: 0 calc(10vw + 32px);
        margin-top: 6rem;
    }

    .skills,
    .testimonials {
        height: 100vh;
    }

    #skills::before, #projects::before, #testimonials::before {
        height: 140px;
    }
}