.about {
    display: grid;
    align-content: center;
    height: 100vh;
    margin-top: 2rem;
    padding: 0 2rem;
}

.projects,
.skills,
.testimonials {
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    place-content: center;
    gap: 2rem;
}

.projects,
.skills,
.testimonials {
    padding-top: 6rem;
}

@media only screen and (min-width: 992px) {
    .skills,
    .testimonials {
        /* height: 100vh; */
    }
}