.projects_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 8px;
}

.project_item {
  list-style: none;
  height: 100%;
}

.project-links {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

  font-family: "Overpass Mono", monospace;
  font-size: 1rem;
  font-weight: 900;
  color: var(--primary-text);
}

.project-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: var(--primary-text);
  border: 1px solid var(--color-navy-600);
  border-radius: 4px;
  
  width: 45%;
  padding: 8px;

  transition: box-shadow 0.2s ease-in-out;
}

.code-link {
  background-color: var(--secondary-color);
}

.launch-link {
  background-color: var(--accent-color);
}

.link-icon {
  margin: 0;
  color: var(--primary-text);
  transition: transform 0.2s ease-in-out;
}

.project-link:hover {
  box-shadow: 4px 2px 20px rgba(0, 0, 0, .1);

  .link-icon {
    transform: translateX(4px);
  }
}

@media screen and (min-width: 768px) {
  .projects_list {
    display: grid;
    max-width: 1024px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(260px, 4fr));
    grid-gap: 1rem;
  }

  .project_item:nth-child(3n + 1) {
    grid-column: span 2;
  }

  .project_item:last-child {
    grid-column: span 2;
  }
}


@media (prefers-color-scheme: dark) {
  
}

@media screen and (orientation: landscape) {
  

}