.app__navigation {
    position: fixed;
    float: left;
    /* Positioning the element on the rigth center side */
    top: 50vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    padding: 1rem;
    z-index: 1000;
}

.app__navigation-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}

.app__navigation-dot:hover{
    background-color: var(--accent-color);
}