.section__title {
  font-family: 'Flamenco', cursive;
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: -2px 2px 0 rgba(128, 128, 128, 0.108);
}

.section__subtitle {
  font-family: 'Overpass Mono', monospace;
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  text-shadow: -2px 2px 0 rgba(128, 128, 128, 0.108);
}

.section__description {
  font-family: 'Junge', serif;
  font-size: 1rem;
  color: var(--secondary-text);
  margin-bottom: 1rem;
  text-align: center;
}

.container {
  position: relative;
  height: 100vh;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  width: 100%;
  max-width: 380px;
  margin: 0 auto;

  background-color: var(--light-primary-color);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 0 1rem;
}

.card-title {
  font-size: 1.4rem;
  font-family: "Overpass Mono", monospace;
  font-weight: 600;
  color: var(--primary-text);

  width: 100%;
  padding: 8px;
  margin: 0;

  text-align: center;
}

.card-description {
  font-size: 1rem;
  font-family: "Junge", serif;
  color: var(--secondary-text);

  padding: 8px;
  margin: 0;

  text-align: center;
}

.card-footer {
  padding-bottom: 1rem;
}

.card-img {
  width: 100%;
  object-fit: cover;
  object-position: center;

  border-radius: 12px 12px 4px 4px;
}